DB_CONNECTION=
SERVER_PORT=
SERVER_SENTRY_DSN=
SCRAPER_SENTRY_DSN=
WEATHER_FETCHER_SENTRY_DSN=
VESSEL_FETCHER_SENTRY_DSN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_APPLE_PLATFORM_ARN=
AWS_GOOGLE_PLATFORM_ARN=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
ENVIRONMENT=
DOCKER_HUB_USERNAME=
DOCKER_HUB_PASSWORD=
LOG_LEVEL=
OPENWEATHERMAP_APPID=
